@tailwind base;
@tailwind components;
@tailwind utilities;

/* Monument Extended */
@font-face {
  font-family: 'Monument Extended';
  src:
    url('../fonts/MonumentExtended/PPMonumentExtended-Light.woff2')
      format('woff2'),
    url('../fonts/MonumentExtended/PPMonumentExtended-Light.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src:
    url('../fonts/MonumentExtended/PPMonumentExtended-Regular.woff2')
      format('woff2'),
    url('../fonts/MonumentExtended/PPMonumentExtended-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src:
    url('../fonts/MonumentExtended/PPMonumentExtended-Black.woff2')
      format('woff2'),
    url('../fonts/MonumentExtended/PPMonumentExtended-Black.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi/Satoshi-Light.woff2') format('woff2'),
    url('../fonts/Satoshi/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi/Satoshi-Medium.woff2') format('woff2'),
    url('../fonts/Satoshi/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/Satoshi/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi/Satoshi-Black.woff2') format('woff2'),
    url('../fonts/Satoshi/Satoshi-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* Generals */
h1 {
  @apply font-monument text-3xl font-black md:text-[56px];
}

h2 {
  @apply font-monument text-2xl font-black md:text-3xl;
}

.button {
  @apply inline-flex rounded-full bg-primary px-8 py-4 text-center font-bold text-black;
}

.button--secondary {
  @apply bg-secondary;
}
